# This is a sample build configuration for PHP.
# Check our guides at https://confluence.atlassian.com/x/e8YWN for more examples.
# Only use spaces to indent your .yml configuration.
# -----
# You can specify a custom docker image from Docker Hub as your build environment.
image: avil/php-fpm-8.1:3

pipelines:
  branches:
    master:
      - step:
          name: Build
          caches:
            - composer
          script:
            - composer install --no-interaction --no-progress --prefer-dist
          artifacts:
            - vendor/**
      - step:
          name: Test
          script:
            - cp .env.testing .env
            - /usr/local/bin/php artisan key:generate
            - /usr/local/bin/php artisan nova:publish
            - ./vendor/bin/pest
          services:
            - mysql
      - step:
          name: Deploy (Production)
          deployment: production
          script:
            - apt-get update
            - apt-get install -y gnupg2
            - curl -sS https://dl.yarnpkg.com/debian/pubkey.gpg | apt-key add -
            - apt-get install -y ca-certificates libgnutls30
            - echo '-k' > ~/.curlrc
            - curl -sL https://deb.nodesource.com/setup_16.x | bash -
            - apt-get install -y nodejs
            - /usr/local/bin/php vendor/bin/vapor env:pull staging
            - /usr/local/bin/php vendor/bin/vapor deploy production --commit="$BITBUCKET_COMMIT"
          services:
            - docker
    development:
      - step:
          name: Build
          caches:
            - composer
          script:
            - composer install --no-interaction --no-progress --prefer-dist
          artifacts:
            - vendor/**
      # - step:
      #     name: Test
      #     script:
      #       - cp .env.testing .env
      #       - /usr/local/bin/php artisan key:generate
      #       - /usr/local/bin/php artisan nova:publish
      #       - ./vendor/bin/pest
      #     services:
      #       - mysql
      - step:
          name: Deploy (Staging)
          deployment: staging
          script:
            - apt-get update
            - apt-get install -y gnupg2
            - curl -sS https://dl.yarnpkg.com/debian/pubkey.gpg | apt-key add -
            - apt-get install -y ca-certificates libgnutls30
            - echo '-k' > ~/.curlrc
            - curl -sL https://deb.nodesource.com/setup_16.x | bash -
            - apt-get install -y nodejs
            - /usr/local/bin/php vendor/bin/vapor env:pull staging
            - /usr/local/bin/php vendor/bin/vapor deploy staging --commit="$BITBUCKET_COMMIT"
          services:
            - docker
definitions:
  caches:
    node: ~/.node/wrapper
  services:
    mysql:
      image: mysql:8.0
      variables:
        MYSQL_DATABASE: 'pests'
        MYSQL_ROOT_PASSWORD: 'root'
        MYSQL_USER: 'pests_user'
        MYSQL_PASSWORD: 'pests_password'
